@using EntityLayer.Concrete
@model List<Announcement>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
@{
	string color = "";

}

<div class="col-lg-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Basic Table</h4>
			<p class="card-description">
				Add class <code>.table</code>
			</p>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>

							<th>Title</th>
							<th>Date</th>
							<th>Status</th>
							<th>Detail</th>
							
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							if (item.Status == "Released" || item.Status == "Important")
							{
								color = "badge badge-danger";
							}
							if (item.Status == "Completed")
							{
								color = "badge badge-success";
							}
							if (item.Status == "Pending")
							{
								color = "badge badge-info";
							}
							if (item.Status == "Scheduled")
							{
								color = "badge badge-info";
							}
							if (item.Status == "Upcoming")
							{
								color = "badge badge-danger";
							}
							
							<tr>

								<td>@item.Title</td>
								<td>@(((DateTime)item.Date).ToString("dd-MMM-yyyy"))</td>
								<td><label class="@color">@item.Status</label></td>					
								<td><a href="/Writer/Default/Details/@item.AnnouncementID/" class="btn btn-outline-primary">Get</a></td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

