@model EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "AddExperience";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-xl-8 order-xl-1">
    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">Edit Service</h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("EditService", "Service", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.ServiceID, new { @class = "form-control" })
                <h6 class="heading-small text-muted mb-4">User information</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-title">Title</label>
                                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Title" })
                            </div>
                        </div>
                        
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-value">Image URL</label>
                                @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control", @placeholder = "Value" })
                            </div>
                        </div>
                        
                    </div>
                    <button type="submit" class="btn btn-primary">Update It!</button>
                </div>
            }
        </div>
    </div>
</div>
