@model EntityLayer.Concrete.WriterMessage

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Detail</h4>
            <p class="card-description">
                Message Details
            </p>
            <form class="forms-sample">
                <div class="form-group">
                    <input type="hidden" name="WriterMessageID" asp-for="WriterMessageID" class="form-control" id="WriterMessageID">
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Receiver Name</label>
                    <input class="form-control" name="ReceiverName" asp-for="ReceiverName" id="ReceiverName"></input>
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Receiver</label>
                    <input class="form-control" name="Receiver" asp-for="Receiver" id="Receiver"></input>
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Date</label>
                    <input class="form-control" name="Date" asp-for="Date" id="Date"></input>
                </div>

                <div class="form-group">
                    <label for="exampleTextarea1">Content</label>
                    <textarea class="form-control" name="Content" asp-for="MessageContent" id="Content" rows="4"></textarea>
                </div>

                <a class="btn btn-light" href="/Writer/Default/Index/">Back</a>
            </form>
        </div>
    </div>
</div>

